.gameboard-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
}

.gameboard-spot {
    height: 2em;
    width: 2em;
    outline: black 1px solid;
    border-radius: 999px;
    background-color: white;
    cursor: pointer;
}

.active-red {
    background-color: red;
}

.active-black {
    background-color: black;
}