:root {
    --bg-color: rgb(192, 192, 220);
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
    background-color: var(--bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gameboard {
    padding: 1em;
    border: solid black 1px;
    background-color: rgb(255, 255, 130);
    min-width: 200px;
    min-height: 200px;
    display: grid;
    gap: 1em;
    rotate: -90deg;
    margin-bottom: 2em;
}


